LUMINARY_API_KEY=replace-me
LUMINARY_PROJECT_NAME=AutoCFD Solar Car
DEFAULT_FARFIELD_SPEED=24.59
BASE_SIM_TEMPLATE_PATH=data/base_simulation_params.json
SPEED_OF_SOUND=340.29
GOOGLE_SHEETS_CREDENTIALS=path-to-credentials-json
GOOGLE_SHEETS_SPREADSHEET_ID=replace-me
